<div class="container">
   <div class="col-sm-6 col-xs-12">
    <h1><b>Find an animal near you</b></h1>
      <form id="search-box">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Animal type">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Location">
          </div>
          <div>
            <button type="submit" class="btn btn-outline-primary">Find your buddy!</button>
          </div>
        </div>
      </form>
      <br>
  </div>
  <div class="shelter-container">
    <div class="shelter-info">
    <% @shelters.each do |shelter| %>
      <div class="shelter-info-details">
        <div>
          <h2>Shelter = <b><%= shelter.name %></b></h2>
        </div>
        <div class="cards">
          <% shelter.animals.each do |animal| %>
            <div class="card-animal">
              <% unless animal.photo.attached? %>
              <img src="https://source.unsplash.com/2l0CWTpcChI/1600x900" />
              <% else %>
              <%= cl_image_tag animal.photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= link_to animal.name ,animal_path(animal) %></h2>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
</div>
