<div class="container">
   <div class="col-sm-6 col-xs-12">
    <h1><b>Find an animal near you</b></h1>
      <form id="search-box">
        <div class="row">
            <%= simple_form_for :search, url: shelters_index_path, method: "GET" do |f| %>
          <div class="col">
              <%= f.text_field :query, class: 'form-control', placeholder: 'Select animal', list: 'browsers' %>
            <!-- <input type="text" class="form-control" placeholder="Animal type"> -->
          </div>
          <div class="col">
            <!-- <input type="text" class="form-control" placeholder="Location"> -->
          </div>
          <div>
              <%= f.submit "Find your buddy!", class: "btn btn-outline-primary" %>
            <!-- <button type="submit" class="btn btn-outline-primary">Find your buddy!</button> -->
          </div>
            <% end %>
        </div>
      </form>
      <br>
  </div>
  <div class="shelter-container">
    <div class="shelter-info">
          <%# binding.pry %>
    <% @shelters.each do |shelter| %>
      <div class="shelter-info-details">
        <div>
          <h2>Shelter: <b><%= shelter.name %></b></h2>
        </div>
        <div class="cards">
          <% shelter.animals.each do |animal| %>
          <% if @animals.include? animal %>
            <div class="card-animal">
              <img src="https://source.unsplash.com/2l0CWTpcChI/1600x900" />
              <div class="card-trip-infos">
                <div>
                  <h2><%= link_to animal.name ,animal_path(animal) %></h2>
                  <p><%= animal.name %> is a <%= animal.animal_type %></p>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
    <div
      id="map"
      style="width: 100%"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
</div>
