<div class="container">
   <div class="col-sm-6 col-xs-12">
    <h1>Find an animal near you</h1>
      <form id="search-box">
        <div class="row">
            <%= simple_form_for :search, url: shelters_index_path, method: "GET" do |f| %>
          <div class="col">
              <%= f.text_field :animal_type_input, class: 'form-control', placeholder: 'Animal' %>
          </div>
          <div class="col">
              <%= f.text_field :location_input, class: 'form-control', placeholder: 'Location' %>
          </div>
          <div>
              <%= f.submit "Find your buddy!", class: "btn btn-outline-primary" %>
          </div>
            <% end %>
        </div>
      </form>
      <br>
  </div>
  <div class="shelter-container">
    <div class="shelter-info">
      <h3><%= @user_input %></h3>
    <% @shelters.each do |shelter| %>
    <% unless shelter.animals.empty? %>
        <div class="shelter-info-details">
          <div>
            <h2><%= link_to shelter.name ,shelters_show_path(shelter) %></h2>
          </div>
          <div class="cards">
            <% shelter.animals.each do |animal| %>
            <% if @animals.include? animal %>
              <div class="card-animal">
                <% unless animal.photo.attached? %>
                <img src="https://source.unsplash.com/2l0CWTpcChI/1600x900" />
                <% else %>
                <%= cl_image_tag animal.photo.key, height: 300, width: 400, crop: :fill %>
                <% end %>
                <div class="card-testimony-infos">
                  <div>
                    <h2><%= link_to animal.name ,animal_path(animal) %></h2>
                  </div>
                </div>
              </div>
            <% end %>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
