<div class="container">
  <div id="info-box">
<h1><b><%= @shelter.name %></b></h1>
<p>We are based at <%= @shelter.address %>.</p>
<p><%= @shelter.description %></p>
</div>
<h2><b>Meet our animals:</b></h2>
<div class="cards d-flex flex-wrap">
  <% @shelter.animals.each do |animal| %>
    <div class="card col-4 m-10">
      <h2><%= animal.name %></h2>
      <p><%= animal.race %></p>
      <p><%= link_to "More info", animal_path(animal) %></p>
    </div>
  <% end %>
</div>
<p><%= link_to "Register a new animal", new_animal_path %></p>
</div>
