<div class="container">
  <div class="row justify-content-start">
    <div class="col 12 col-md-5">
      <div id="intro-box">
        <div>
          <h1><b>Meet <%= @animal.name %>!</b></h1>
        </div>
        <div>
          <!-- <img src="https://source.unsplash.com/7mJ3vIN1_-U/100x100/" alt="a great white shark"> -->
          <%= cl_image_tag @animal.photo.key, height: 300, width: 400, crop: :fill %>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-start">
     <div class="col 12 col-md-5">
      <div id="info-box">
        <h2><b>Key info</b></h2>
          <table style="width:100%">
              <tr>
                <tr>
                <th>Name</th>
                <td><%= @animal.name %></td>
              </tr>
              <tr>
                <th>Animal type</th>
                <td><%= @animal.animal_type %></td>
              </tr>
              <tr>
                <th>Breed</th>
                <td><%= @animal.race %></td>
              </tr>
              <tr>
                <th>Age</th>
                <td><%= @animal.age %></td>
              </tr>
              <tr>
                <th>Size</th>
                <td><%= @animal.size %></td>
              </tr>
          </table>
      </div>
      <% if shelter_signed_in? %>
        <% if @animal.shelter.id == current_shelter.id %>
          <div class="col 12 col-md-5">
            <p><%= link_to "Edit info", edit_animal_path, class: "btn btn-outline-primary" %></p>
          </div>
          <div class="col 12 col-md-5">
            <p>
              <%= link_to "Deregister", animal_path(@animal),
                                  method: :delete,
                                  data: { confirm: "Are you sure?" } %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col 12 col-md-7">
      <div>
        <h2><b>More details about <%= @animal.name %></b></h2>
        <p> <%= @animal.description %></p>
      </div>

    </div>
  </div>
  <% if volunteer_signed_in? %>
  <div class="call-to-action-frame">
    <div class="call-to-action">
      <h2>Has <%= @animal.name %> sparked your interest?</h2>
      <%= simple_form_for [@animal, @booking] do |f| %>
        <div class="form-item">
          <%= f.hidden_field :status, :value => "Pending" %>
          <%= f.hidden_field :volunteer_id, :value => current_volunteer.id %>
          <%= f.label :time_slot %>
          <%= f.date_field :time_slot, class: 'form-control' %>
       </div>
        <%= f.submit "Book now", class: "btn btn-primary" %>
      <% end %>
  <% elsif shelter_signed_in? %>
  <% else %>
  <div class="call-to-action-frame">
    <div class="call-to-action">
      <h2>Has <%= @animal.name %> sparked your interest?</h2>
        <div class="form-item">
          <%= link_to 'Sign-up', new_volunteer_registration_path, class: "btn btn-outline-light" %>
          <%= link_to 'Login', new_volunteer_session_path, class: "btn btn-outline-light" %>
       </div>
  <% end %>
    </div>
  </div>
</div>

