<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shelter buddiez: Hang out with your favorite shelter animal</title>
    <link rel="icon" href="https://image.flaticon.com/icons/png/512/64/64431.png" type="image/png">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <div class="upper-footer">
      <div  class="footer-card">
        <li class="footer-titles"><h6>Community</h6></li>
        <li class="footer-infos"><a href="#">Make a donation</a></li>
        <li class="footer-infos"><a href="#">Join the volunteer team</a></li>
        <li class="footer-infos"><a href="#">Something else</a></li>
      </div>
      <div class="footer-card">
        <li class="footer-titles"><h6>Support</h6></li>
        <li class="footer-infos"><a href="">+32 479 07 77 07</a></li>
        <li class="footer-infos"><a href="">shelterbuddies@gmail.com</a></li>
      </div>
      <div class="footer-card">
        <li class="footer-titles"><h6>About</h6></li>
        <li class="footer-infos"><a href="#">The shelterbuddies team</a></li>
        <li class="footer-infos"><a href="#">Adopt a pet</a></li>
        <li class="footer-infos"><a href="#">Trust & Safety</a></li>

      </div>
    </div>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="footer-copyright">
        <i class="far fa-copyright"></i> 2020 ShelterBuddies, Inc. All rights reserved
      </div>
    </div>

    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
